---
title: Streetcar and Other Funding On the Skids
url: http://www.bizjournals.com/cincinnati/morning_call/2013/12/dark-days-ahead-for-streetcar.html
---

According to Chris Wetterich of the Business Courier, successful prospects for the Cincinnati streetcar are bleak at best. Making good on his campaign pledge to kill the project, newly elected Mayor John Cranley has ensured that all related ordinances moving through the council include appropriations, thereby placing the opposition momentum right outside the realm of public referendum. Further complicating matters, the federal government has frozen the project’s grant and a major funding organization is <a href="http://www.bizjournals.com/cincinnati/news/2013/12/02/foundation-may-yank-music-hall-park.html" target="_blank">now threatening to pull its money</a> from several city projects, including Smale Riverfront Park and a planned renovation of Music Hall.
