---
title: City Council Committees Cancel Two More Projects 
url: http://citybeat.com/cincinnati/blog-5340-committee_votes_to_pull_support_for_supportive_housing_facility.html
---

A Cincinnati City Council Committee voted to pull support for a 99-unit housing facility in Avondale because many local residents complained the facility would negatively alter the neighborhood by worsening the community&rsquo;s problems with poverty and revitalization efforts. Christopher Smitherman and Amy Murray were the two council members who voted to rescind council&rsquo;s support for the facility that aided low-income and chronically homeless individuals. <a href="http://www.bizjournals.com/cincinnati/news/2013/12/10/here-are-two-other-things-cincinnatis.html">Another City Council Committee</a> voted to repeal bidding rules governing the $3.2 billion upgrade of the Metropolitan Sewer District system. The rules stated that bidders on some contracts require an apprenticeship program. Critics of the rules say that they unfairly limited contracts to union labor.
