---
title: Streetcar Saga Continues: Cranley Extends an $80M Olive Branch
url: http://news.cincinnati.com/article/20131212/NEWS/312120035/Cranley-making-major-streetcar-announcement-today&nocache=1
---

With the clock ticking on a federal deadline, Cincinnati's new mayor John Cranley held a press conference this morning where he proposed a new option for allowing the streetcar project to move forward. If supporters can secure funds to cover 30 years of operating costs, then he's willing to let the first phase of the streetcar  move forward; a figure that would amount to <a href="https://twitter.com/917wvxu/status/411139160305446912" target="_blank">at least $80 million</a>. The mayor also cautioned that any pledge of private support would <a href="http://www.wcpo.com/news/political/local-politics/mayor-union-leaders-private-donations-for-streetcar-must-have-assurances" target="_blank">require a guarantee</a> for his stamp of approval. 

