---
title: Northside 4th of July Parade Welcomes Gabrielle Giffords
url: http://www.citybeat.com/cincinnati/blog-4817-gabrielle_giffords_to_appear_in_northside_4th_of_july_parade.html
---

Former Arizona Congresswoman Gabrielle Giffords is set to make an appearance at the <a href="http://northsidejuly4.com/parade/">Northside 4th of July Parade</a> this Thursday. Giffords, who was a victim of a mass-shooting in Arizona in 2011, is on a speaking tour to support and promote responsible gun ownership policies.
