---
title: Beavercreek Officers Cleared After Fatal Wal-Mart Shooting
url: http://wvxu.org/post/no-indictment-officers-beavercreek-walmart-shooting
---
A grand jury has cleared Beavercreek officers in the fatal shooting of a 22-year-old man in Wal-Mart on Aug. 5. The officers shot John Crawford III after he refused to put down what looked like an assault rifle but what later turned out to be a BB gun. Crawford’s family maintains the shooting was not justified and that race was a factor. Surveillance video of the shooting has been released and can be viewed on the Cincinnati Enquirer’s <a href="http://www.cincinnati.com/story/news/courts/2014/09/21/grand-jury-convenes-beavercreek-walmart-police-involved-shooting-john-crawford-iii/16030327">website</a>.
