---
title: Plot Your MPMF Weekend
url: http://mpmf.com/
---
If you’re anywhere close to downtown this weekend you’ll be hard pressed to miss the influx of skinny jeans and mustaches as hundreds of hipsters are  expected to descend in the area for this year’s Midpoint Music Festival. <a href="http://www.cincinnati.com/story/entertainment/music/2014/09/24/midpoint-shows-like-see/16161965/">The Cincinnati Enquirer</a> and Citybeat have a number of picks for <a href="http://citybeat.com/cincinnati/blog-5913-midpoint_music_festival_critics_picks_thursday.html">tonight</a>, <a href="http://citybeat.com/cincinnati/blog-5914-midpoint_music_festival_critics_picks_friday.html">Friday</a> and <a href="http://citybeat.com/cincinnati/blog-5916-midpoint_music_festival_critics_picks_saturday.html">Saturday</a>. Be sure to check out the festival’s <a href="http://mpmf.com/">website</a> where you can put together a custom calendar so you don’t miss a beat.
