---
title: Hamilton County Recycles Your Computer Junk Free of Charge 
url: http://www.wvxu.org/post/county-recycling-program-continues-october
---

Have any old tech junk piling up in your basement or closet? Now through October 26th Hamilton County residents with a valid driver's license or utility bill can unload all those unused computers, cell-phones and DVD players for free at one of two convenient locations. Learn more at <a href="http://www.hamiltoncountyrecycles.com">www.hamiltoncountyrecycles.com</a>.
