---
title: MPMF Releases Full Schedule 
url: http://www.citybeat.com/cincinnati/blog-4955-full_midpoint_music_festival_schedule_available_now.html 
---

We&rsquo;re just a little more than a month away from the 12th-annual MidPoint Music Festival taking place Sept. 26 - 28. The festival just announced their complete schedule of shows, so head over to MPMF&rsquo;s <a href=&rdquo;http://mpmf.com/festival&rdquo;>schedule page</a> to see the complete lineup and begin to plot your course for the weekend. This year&rsquo;s festival will be the first to include shows at The Ballroom at the Taft Theater. Three-day passes, VIP perks and individual tickets can be purchased at the <a href=&rdquo;http://www.cincyticket.com/eventperformances.asp?evt=1477&rdquo;>festival&rsquo;s ticketing page</a>.

