---
title: Cincinnati Public Schools Given Failing Grades for School Performance
url: http://www.citybeat.com/cincinnati/blog-4982-cps_struggles_in_2012_13_report_cards.html
---

The Ohio Department of Education gave Cincinnati Public Schools a range of failing grades including Fs for state test results, failures to close gaps in income and race, and progress among gifted students. According to City Beat, the district is currently under investigation for “scrubbing data,” which may have favorably impacted the district’s ratings. The Enquirer has the school results in a searchable and sortable form on their <a href="http://news.cincinnati.com/interactive/article/20130822/NEWS0102/130822017/View-your-school-s-report-card" target="_blank">website</a>.
