---
title: Mayoral Absentee Ballots to be Accepted Starting August 6th
url: http://www.wvxu.org/post/early-voting-cincinnati-mayor-begins-august-6 
---
Hamilton County residents will have the chance to cast their ballots in this fall&rsquo;s mayoral race in as little as two weeks. According to the <a href="http://www.google.com/url?q=http%3A%2F%2Fboe.hamilton-co.org%2Fvoting-before-election-day%2Fvoting-by-mail.aspx&sa=D&sntz=1&usg=AFQjCNHlBERniwTAZGI-K1vleHuN54DK5g">Hamilton Country Board of Elections</a>, voters can skip the line by mailing in absentee ballots starting August 6th. Early voting traditionally helps alleviate long waits at the polls on election day and is generally seen as a great way to encourage voter participation. 
