---
title: Brent Spence Could Become a Federal Priority
url: http://www.bizjournals.com/cincinnati/news/2013/07/24/local-us-senators-try-to-steer-money.html 
---

New legislation introduced by Ohio Senator Rob Portman may help secure federal dollars for updating the aging <a href="http://www.wvxu.org/post/brent-spence-project-be-federal-priority-list">Brent Spence</a> and other &ldquo;functionally obsolete&rdquo; bridges around the country. This move should come as welcome news to city residents who have recently learned that per-use tolls are likely to be an integral part of the funding for the upcoming project. 

