---
title: Portune Ruffles Fellow Democrats’ Feathers by Announcing Governor Campaign
url: http://citybeat.com/cincinnati/blog-5382-portune-announces-bid-for-governor.html 
---

Hamilton County Commissioner Todd Portune intends to challenge Cuyahoga County Executive Ed Fitzgerald for the primary seat in this year's gubernatorial race. Portune's move ruffled feathers of some Democrats who claim devoting resources to a primary campaign would hamper their chances of winning the November election. <a href="http://cincinnati.com/blogs/politics/2014/01/06/portune-fitzgeralds-commitment-to-blacks-appalling/">Portune also took a stab</a> at Fitzgerald in an email obtained by The Cincinnati Enquirer where he claimed Fitzgerald's "lack of connection or commitment to the African American community is both amazing and appalling."
