---
title: Controversy Over Parking Lease Continues to Rage
url: http://www.bizjournals.com/cincinnati/blog/2013/07/parking-lease-dispute-may-be-turning.html 
---

Following the recently inked deal to lease the city’s parking assets to the Port Authority, controversy continues to swirl in Queen City. From Todd Portune’s stinging rebuke of the port’s position to the <a href="http://www.citybeat.com/cincinnati/blog-4864-city_administration_responds_to_critical_parking_memo.html">administration’s response this week to criticism</a> of the perceived benefits, it’s clear that this political fire is just getting started. 
