---
title: "Much Ado About the Banks"
url: http://www.cincinnati.com/story/news/politics/2014/09/15/tallest-crane-us-goes-cincinnati-riverfront/15678657/
---
If you happen to be walking or driving along the riverfront before Thursday, you’ll have a chance to view the tallest crane in the country. Like a plot from inception, that crane was built in part by other cranes already on site and will be used over the next couple days to build yet another crane, which will then be used in the construction of GE’s new headquarters. In other Banks news, there’s some hubbub about <a href="http://www.bizjournals.com/cincinnati/news/2014/09/15/banks-hotel-financing-plan-coming-this-fall.html" target="_blank">financial plans</a> to finally bring a hotel to the waterfront development, as well as efforts to raise cash for <a href="http://www.bizjournals.com/cincinnati/news/2014/09/15/devlopers-outline-schedule-for-third-phase-of-the.html" target="_blank">the third phase</a> of construction.
