---
title: Explore Jungle Jims in Eastgate on Streetview 
url: http://www.bizjournals.com/cincinnati/blog/2013/07/jungle-jims-has-teamed-up-with.html 
---

Google and Cincinnati based international foodie haven Jungle Jims have joined forces to offer an <a href="https://maps.google.com/maps?q=45245&ll=39.093702,-84.273607&spn=0.003406,0.00773&hnear=Cincinnati,+Ohio+45245&gl=us&t=m&layer=c&cbll=39.094154,-84.273892&panoid=yy-HSyz85iEAAAALCpTAJA&cbp=12,136.72,,0,0&z=18">interactive view</a> of the recently opened Eastgate location. Future plans of the partnership include a bird's-eye view of the store, giving uninitiated consumers a handy roadmap from hot-sauces to checkout. No word on whether network access will be extended to the beer cave.
