---
title: Bockfest Begins Friday
url: http://www.cincinnati.com/story/entertainment/nightlife/bars-and-clubs/2014/03/05/bockfest-gets-bigger/6081173/
---

Cincinnati&rsquo;s Bockfest kicks off its 22nd year in Over-the-Rhine this weekend replete with goats, a sausage queen and plenty of beer. Organizers are expanding the venue this year by adding a large tent across from Bockfest Hall that will nearly double the size. The Enquirer <a href="http://www.cincinnati.com/story/entertainment/nightlife/bars-and-clubs/2014/03/05/bockfest-hall-schedule/6081095/">has a schedule of the weekend&rsquo;s festivities</a> and also <a href="http://www.cincinnati.com/story/entertainment/nightlife/bars-and-clubs/2014/03/05/tips-from-bockfests-reigning-sausage-queen/6081089/">five tips from the reigning Sausage Queen</a>.
