---
title: City Signs Deal to Lease Parking to Port Authority
url: http://www.citybeat.com/cincinnati/blog-4784-city_signs_parking_lease.html 
---

Following a flurry of activity around the city’s parking lease deal, Hamilton County Court of Appeals ruled last week that the legislation is not subject to public referendum. Thus, the door to making the controversial deal official was opened&mdash; prompting City Manager Milton Dohoney to sign on the dotted line this past Monday. While the exact terms of the final deal could be shifted by City Council, Mayor Mallory squashed a <a href="http://www.bizjournals.com/cincinnati/news/2013/06/19/mayor-mallory-thwarts-parking-lease.html">last ditch effort</a> at repeal by disapproving council members yesterday.

