---
title: City Signs Deal to Lease Parking to Port Authority
url: http://www.citybeat.com/cincinnati/blog-4784-city_signs_parking_lease.html 
---

Following a flurry of activity around the city’s parking lease deal, the Hamilton County Court of Appeals ruled last week that the legislation is not subject to public referendum, despite over 12,000 signatures supporting that effort. Thus, the door to making the controversial deal official was opened, following which City Manager Milton Dohoney promptly signed on the dotted line this past Monday. While the exact terms of the final deal could be shifted by the City Council, Mayor Mallory shut down a <a href="http://www.bizjournals.com/cincinnati/news/2013/06/19/mayor-mallory-thwarts-parking-lease.html">last ditch effort</a> at repeal yesterday.

