---
title: Jessica Biel and Patrick Wilson Movie to be Filmed in Cincinnati
url: 
---
The movie producers behind the Cincinnati-filmed Carol enjoyed their experience with the Queen City so much they decided to come back to film a new movie starring Jessica Biel and Patrick Wilson. The movie, The Blunderer, is based on a book by the same author as Carol and is a psychological thriller set in the 1950s. If you’re interested in being an extra, send a headshot and an email to <a href="mailto:blundererextrascasting@gmail.com">blundererextrascasting@gmail.com</a>.
