---
title: Streetcar, Streetcar, Streetcar
url: http://www.urbancincy.com/2013/12/the-plot-continues-to-thicken-for-cincinnatis-133m-streetcar-project/
---

Even though it's been officially paused for review, the streetcar debate continues to rage in QueenCity with both sides refusing to budge on their positions. In the latest news, the Federal Transit Administration is pissed and has notified the administration as such in a curtly worded rebuke of the latest political developments. If the city doesn't get it's act together by the 19th, they government wants its money back and will immediately pursue collection. Meanwhile, <a href="http://citybeat.com/cincinnati/blog-5334-cranley_might_veto_ordinance_continuing_streetcar_project.html" target="_blank">Cranley refuses to relent</a> and supporters are taking the issue to streets (no pun intended) by announcing a <a href="http://wvxu.org/post/streetcar-supporters-aim-ballot-issue" target="_blank">new petition drive</a> to force a public referendum. And in related news, the spotlight on Cincinnati's efforts to hurry-up-and-wait on the streetcar continue to gain <a href="http://www.businessweek.com/ap/2013-12-09/group-trying-to-save-cincinnati-streetcar" target="_blank">national attention</a>.
