---
title: Council Passes 2015 Budget
url: http://wvxu.org/post/council-passes-most-budget-water-rate-vote-next-week
---

With the exception of a couple ordinances that couldn't muster majority approval, Mayor John Cranley's 2015 fiscal budget was adopted by Council yesterday. For his part, the mayor seems pleased and is looking forward to more freedom in future fiscal years. One outstanding issue that did not meet with the council's approval is the <a href="http://www.bizjournals.com/cincinnati/news/2014/06/04/water-rate-increase-dead-for-now.html" target="_blank">water rate increase</a> requested by Cincinnati WaterWorks earlier this week. 
