---
title: Kenwood Eyesore's Investors Reach Agreement 
url: http://www.bizjournals.com/cincinnati/morning_call/2013/07/bank-of-america-kenwood-towne-place.html
---

The eyesore off Interstate 71 in Montgomery known as Kenwood Towne Place might finally be coming to a resolution. Investors and contractors came to an agreement to move the $175-million project forward. The shopping center <a href="http://www.bizjournals.com/cincinnati/news/2013/04/08/new-name-design-for-kenwood-towne.html">was purchased</a> earlier this year and renamed the Kenwood Collection.
