---
title: OTR Line App Aims to Reduce Wait-time Frustrations 
url: http://www.soapboxmedia.com/innovationnews/070913otrline.aspx
---

Regardless how you feel as to whether or not OTR restaurants should accept reservations, there's a new mobile app aimed to help reduce wait-time frustrations. Scott Miller and Scott Avera released <a href="https://itunes.apple.com/us/app/otr-line/id640298277?mt=8">OTR Line</a>, a free app for iOS and Android devices that uses crowdsourced information to estimate restaurant wait times.
