---
title: Look at the Big Brain on Cincinnati
url: http://www.bizjournals.com/cincinnati/morning_call/2013/06/cincinnati-named-one-of-nations.html
---

Regional nerds and brainiacs rejoiced this week when Cincinnati was named one of the 10-smartest cities in the nation. The stats compiled by <a href="http://www.movoto.com/blog/top-ten/smartest-cities/">Movoto</a> were based loosely on academic institutions per capita and compared the 100 of the most populous U.S. cities. 
