---
title: Pure Romance is Coming Downtown 
url: http://www.bizjournals.com/cincinnati/news/2013/09/06/pure-romance-picks-downtown-cincinnati.html
---

Cincinnati-based adult novelties chain Pure Romance has decided to relocate downtown, citing urban development and revitalization as their primary motivation. The move, which will take place by the end of 2013, will bring over 100 jobs into the city center. In related news, Governor John Kasich has <a href="http://www.bizjournals.com/cincinnati/news/2013/09/09/why-did-state-of-ohio-say-no-to-pure.html">vetoed some tax-incentives</a> enticing the move, but the company seems undeterred. 
