---
title: Primary Voting for Mayor to Reduce Field of Candidates 
url: http://news.cincinnati.com/article/20130910/NEWS010602/309100022
---

Primary <a href="http://wvxu.org/post/polls-open-cincinnati-mayoral-primary">voting for Cincinnati&rsquo;s next mayor began this morning</a> with the hopes of narrowing the field to two candidates. Roxanne Qualls and John Cranley are the expected first- and second-place finishers in the race. The first-place finisher of the mayoral primary doesn&rsquo;t necessarily predict who will win in November, however. In both 2001 and 2005 the primary&rsquo;s first-place finishers were beaten by their second-place rivals.
