%form{method: :post}
  %fieldset
    %legend Subscribe
    %label{for: :name} Name
    %input{type: :text, name: 'subscriber[name]', placeholder: 'Your full name'}
    %label{for: :email} Email
    %input{type: :text, name: 'subscriber[email]', placeholder: 'you@domain.com'}
    %button{type: :submit} Subscribe

