---
title: State Representative Indicted on 16 Felonies
url: http://www.bizjournals.com/cincinnati/news/2013/07/19/cincinnati-area-lawmaker-indicted-on.html
---

State representative Peter Beck has been indicted on no less than 16 felony counts of financial shenanigans. Facing up to 102 years in prison, the former CFO of Christopher Technologies is alleged to have withheld knowledge of the company’s insolvency from investors. WVXU’s Howard Wilkinson <a href="http://www.wvxu.org/post/howard-wilkinson-sorts-through-peter-beck-case" target="_blank">helped to distill</a> the facts of the case yesterday. 
