---
title: Summer Entertainment in Cincinnati Starts With Fringe Festival
url: http://www.downtowncincinnati.com/happening-downtown/cincinnati-events/cincinnati-events/2014/05/22/on-the-fringe
---

With the passing of another Memorial Day, a new summer season begins. And nowhere is that more evident than throughout the Queen City where a whole slew of evening activities are starting to kick off. <a href="http://www.cincyfringe.com/" target="blank">The Fringe Festival</a>, Know Theatre's 17-day dramatic extravaganza starts tonight. Be sure to check out the first seasonal installment of <a href="http://washingtonpark.org/event/bandstand-bluegrass-12/2014-05-29/" target="blank">Bandstand Bluegrass</a> in Washington Park, Thursday night. Then on Friday, you can <a href="http://www.cincinnatiparks.com/smale-riverfront-park/15-news/390-free-family-fun-at-smale-riverfront-park" target="blank">watch Brave with the kiddo's</a> in Smale Riverfront Park. And next week kicks off the first round of <a href="http://www.cliftonculturalarts.org/th_event/wotg-june4/" target="blank">Wednesdays on the Green</a> at the Cultural Arts Center in Clifton. 
