---
title: The Comet’s Hopnosis Kicks Off; MadTree Expands; and Moerlein Tries Canning
url: http://www.hoperatives.com/?p=18622
---
Hopheads, unite. <a href="http://www.hoperatives.com/?p=18622">This Friday at The Comet marks the seventh-edition of Hopnosis</a>, an annual gathering of hop lovers in Cincinnati that features more than 30 kegs of small-batch beers. <a href="http://www.bizjournals.com/cincinnati/news/2014/12/03/exclusive-madtree-brewing-expands-its-footprint.html">MadTree Brewing Company is looking to expand its brewing operations after purchasing a neighboring 17,000-square-foot building</a>, which more than doubles its size. Not to be left out of the canned beer game, Christian Moerlein is unveiling <a href="http://www.bizjournals.com/cincinnati/news/2014/12/03/moerlein-releases-first-canned-beer-as-part-of.html_">its first canned beer next week, Bay of Bengal Double India Pale Ale</a>.
