---
title: OpenDataCincy Seeks to Liberate Public Information for Developers 
url: http://news.cincinnati.com/article/20131013/NEWS10/310130049/Downtown-Cincinnati-developer-creating-infrastructure-region
---

Wouldn&rsquo;t it be cool if there was an app that coordinated Metro bus routes with child-care clinics with open seats for parents with hectic schedules? Well there might be one soon. Local developer Erin Kidwell recently launched OpenDataCincy with the aim for public organizations across the Cincinnati area to release their data sets to local developers to create applications such as the Metro and child-care app. The program is currently looking for more data sets and is collaborating with City Government to release more public data in a friendlier form for developers. Check out the project at <a href="http://www.opendatacincy.org/">OpenDataCincy</a> to get involved.
