---
title: Issue 4&rsquo;s Language Revision Causes Early Voting Problems 
url: http://www.citybeat.com/cincinnati/blog-5135-thousands_of_early_voters_to_get_new_ballots.html 
---

More than 3,000 Cincinnati voters who voted early will receive new ballots in the mail after an Ohio Supreme Court decision forced a wording change on Issue 4, the charter amendment aimed to semi-privatize Cincinnati&rsquo;s public pension program. And if that&rsquo;s not enough voter drama, this year&rsquo;s elections could be the <a href="http://wvxu.org/post/cincinnati-headed-lowest-turnout-ever">lowest turnout for a Cincinnati election in history</a>. The low turnout is due to a lack of a polarizing state-wide issue such as 2011&rsquo;s Senate Bill 5, the bill concerned with limiting collective bargaining between unions and their employers. 
