---
title: Mansion in Indian Hill Burns Down
url: http://www.wcpo.com/news/local-news/house-catches-fire-in-indian-hill
---

A massive, $4 million dollar mansion in Indian Hill burned to ground on Friday and may have smoldered for <a href="http://www.wcpo.com/news/local-news/indian-hill-fire-blaze-started-an-hour-before-crews-arrived" target="_blank">more than an hour</a> before emergency personnel arrived. The lack of a sprinkler system in the home and other logistics such as a depleted water sources were major contributing factors to the devastation, which has been described as "a total loss". Luckily the occupants were not at home at the time. 
