---
title: Duke Energy to Alleviate Port Authority's Financial Woes  
url: http://www.bizjournals.com/cincinnati/news/2014/01/13/duke-energy-to-contribute-to-port.html
---

Duke Energy announced it will cut a check to the Port of Greater Cincinnati Development Authority <a href="http://news.cincinnati.com/article/20140112/NEWS/301120055/Port-authority-s-2014-show-me-money">after an article published this weekend</a> in The Cincinnati Enquirer documenting the Authority&rsquo;s financial woes. The Port Authority was designed to become the main economic-development driver in the region, but a lack of funding has impeded its efforts. Part of the monetary struggles stem from Mayor John Cranley killing the parking privatization plan, which would have given the Port Authority at least $18 million over 30 years. Duke&rsquo;s donation will mainly impact Bond Hill and surrounding neighborhoods.
