---
title: Cincinnati About to Get a Little More Country
url: http://www.bizjournals.com/cincinnati/news/2014/01/13/exclusive-new-three-day-country.html
---

This summer, one week after the Bunbury, Cincinnati's Sawyer Point Park will host a second music festival catering to country music fans. The Buckle Up Music Festival is a 3 day event that looks pretty legit. Lineups will be announced on <a href="http://www.buckleupfestival.com/" target="_blank">their website</a> this week. 
