---
title: Cincinnati Moves to Protect Water Supply in Wake of Upstream Chemical Spill
url: http://wvxu.org/post/precaution-cincinnati-shutting-its-intake-valves
---

Greater Cincinnati Water Works is proactively working to protect the city's water supply following a chemical spill <a href="http://www.wcpo.com/news/local-news/more-questions-than-answers-about-impact-of-west-virginia-chemical-spill-on-ohio-river-and-ecology" target="_blank">originating from West Virginia</a>. While WVXU has <a href="http://wvxu.org/post/wv-chemical-spill-not-affecting-local-water-supplyl" target="_blank">recently reported</a> that the contaminants pose no threat to municipal water sources, the move to shut down water intake valves is precautionary and won't last more than a day. Currently, the city has at least 60 hours worth of water in reserve for just such an occasion. 
