---
title: Much Ado About the Streetcar
url: http://cincinnati.com/blogs/politics/2013/11/26/sittenfeld-now-supports-continuing-streetcar/
---

This morning, Councilman PG Sittenfeld held a press conference where he declared a change of heart on the streetcar and is now supportive of allowing the first phase of the project to be completed. This decision comes in the wake of a <a href="http://wvxu.org/post/another-streetcar-vote-after-conference-call-federal-lawyer" target="_blank">conference call</a> with Federal counsel who, in no uncertain terms, stipulated that even pausing the project at this point would result in immediate debt collection and reallocation of funds to other parts of the state. Mayor Cranley, who's first term in office starts next week, maintains his staunch vow to stymie the effort. 
