---
title: Who Are the Downtown Parachuters?
url: http://www.cincinnati.com/story/news/2014/07/21/mystery-jumpers-downtown/12943389/
---

If you saw five parachuters circling around downtown yesterday, you’re not alone. According to The Cincinnati Enquirer, five people parachuted around the downtown skies and landed on top of the parking garage at 4th and Elm close to 10 a.m. Monday. It’s unclear whether or not the parachuters came from a plane or a building, although <a href="http://www.bizjournals.com/cincinnati/news/2014/07/18/meet-the-brandery-class-of-2014.html">a video on Youtube shows parachuters BASE jumping from the Carew Tower</a>.
