<section class="archives">
  <h1>Archive</h1>
  <% @archives.each do |archive| %>
  <section class="archive-month">
    <h2><%= link_to "#{month(archive[:month])} <i class='icon-caret-down'></i>", '#' %></h2>
    <ul>
      <% archive[:articles].each do |article| %>
        <li><%= link_to article.date.strftime('%A, %b %d'), article.url %></li>
    <% end %>
    </ul>
  </section>
  <!-- /archive-month -->

<% end %>
</section>


