<section class="archives">
  <h1>Archive</h1>
  <% @archives.each do |archive| %>
  <section class="archive-month">
    <h2><%= "#{archive[:month]} <i class='icon-caret-down'></i>" %></h2>
    <ul>
    <% archive[:articles].each do |article| %>
      <li><%= article.date.strftime('%m.%d') %> &mdash; <%= link_to article.title, article.data.try(:url), :target => '_blank' %></li>
    <% end %>
    </ul>
  </section>
  <!-- /archive-month -->

<% end %>
</section>


