---
title: Will the Streetcar be Derailed?
url: http://news.cincinnati.com/article/20131106/NEWS/311060056/Wasting-no-time-Cranley-moves-kill-streetcar
---

With a decisive victory in the mayoral race on Tuesday, Mayor-elect John Cranley is ready to make good on his plan to dismantle the controversial streetcar project. To his credit, he's extending a <a href="http://www.bizjournals.com/cincinnati/news/2013/11/06/cranley-well-find-an-alternative-to.html" target="_blank">public olive-branch</a> to streetcar enthusiasts and hopes to find a cheaper alternative that can achieve the same goals. While halting the efforts already underway will require a majority of support from the City Council, some members have <a href="http://www.bizjournals.com/cincinnati/news/2013/11/06/streetcar-fight-to-continue.html" target="_blank">nodded in agreement</a> with the new mayor's position. 
