---
title: "Bengals Training Camp Starts Today"
url: http://www.wcpo.com/sports/football/bengals/cincinnati-bengals-training-camp-starts-thursday
---

Die hard Bengals fans are happy to celebrate the return of training camp today because it means that football season is right around the corner. 2014 also marks the third year that the Bengals have held their training camp on the practice field just outside of Paul Brown Stadium. For information on how to attend some of the practices over the next few weeks, <a href="http://www.bengals.com/team/training-camp.html" target="_blank">check out the schedule</a>.
