---
title: Washington Park Gets Illuminated This Weekend
url: http://news.cincinnati.com/article/20130730/ENT07/307300013/EXCLUSIVE-OTR-s-creative-hotbed-shown-off-Music-Hall-canvas
---

Looking for something do this weekend? Come out to Washington Park on Saturday or Sunday and witness a one-of-kind event welcoming incoming musical director for the Cincinnati Symphony, Louis Langrée. The symphony will perform a 40 minute piece with a coordinated light show set against the historic Music Hall adjacent to the park. Get all the details <a href="http://cincinnatisymphony.org/lumenocity2013/lumenocity.php" target="_blank">here</a>.
