---
title: Mark Your Calendars, It's Time to Get Mayoral
url: http://www.bizjournals.com/cincinnati/news/2013/07/30/cincinnati-mayoral-debates-set.html
---

As the mayoral race heats up, voters increasingly want to see where the candidates stand on the issues and now they’ll have their opportunity. Two public debates have been officially scheduled for mid-September and October and some of the candidates are <a href="http://www.citybeat.com/cincinnati/blog-4917-longshot_mayoral_candidates_angry_over_debate_schedule.html" target="_blank">not happy</a> about it. 
