---
title: Kroger to Rollout Online Ordering
url: http://www.bizjournals.com/cincinnati/morning_call/2014/01/kroger-could-test-online-ordering-system.html
---

Building on the success of their recent <a href="http://www.bizjournals.com/cincinnati/news/2014/01/29/kroger-completes-25-billion.html" target="_blank">$2.5 Billion dollar acquisition</a>, Kroger execs are considering implementing a new online ordering service that could be tested here at home. The "Express Lane", a Harris Teeter service could be bringing a whole new level of shopping convenience to consumers. The grocery giant had reportedly been developing their own system, but shelved it when the Harris Teeter deal emerged, so as not to duplicate efforts. 
