
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="*|MC:SUBJECT|*" />
    <title>*|MC:SUBJECT|*</title>
    <style type="text/css">

    @media only screen and (max-width: 480px){

      a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

      div[class="column"] { width: auto!important; float:none!important;}

      .story-table tr td p {
        margin: 0 0 9px 0;
        font-size: 18px !important;
        line-height: 26px !important;
      }

      .story-table tr td h2 {
        font-size: 24px !important;
        line-height: 30px !important;
        margin: 0 0 8px 0 !important;
      }

      .story-table tr td .read-more {
        font-size: 16px !important;
        line-height: 24px !important;
      }

      .footer-divider {
        display: none !important;
      }

      .footer-link {
        display: block !important;
        width: 80% !important;
        margin: 12px auto !important;
        color: #FFFFFF !important;
        background: #049cdb !important;
        padding: 6px 12px !important;
      }

    }

    </style>
  </head>
  <body bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">&#13;
&#13;
&#13;
<table bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>&#13;
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
      <div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 20px 15px 0;">&#13;
        <table bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">&#13;
              <a href="*|LIST:URL|*" style="display: block; width:266px; height: 28px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; margin: 0 0 6px; padding: 0;">&#13;
                <img src="http://qcstacks.com/images/img-full-logo.png" width="266" height="28" alt="Queen City Stacks" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" /></a>&#13;
              <span style="font-family: Cambria, Georgia, Times, 'Times New Roman', serif; color: #bebebe; font-size: 13px; margin: 0; padding: 0;" mc:allowtext="">The five most interesting Cincinnati stories.</span>&#13;
            </td>&#13;
          </tr></table></div>&#13;
    </td>&#13;
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>&#13;
  </tr></table><table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>&#13;
    <td bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
&#13;
<div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px 15px 0;">&#13;
  <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
    <tr>
      <td>
        <p class="dateline" style="color: #BEBEBE;font-family: Cambria, Georgia, Times, 'Times New Roman', serif; font-size: 13px; margin: 0 0 13px 0; display: block;"  mc:edit="header">*|DATE:F j, Y|*</p>
      </td>
    </tr>
    *|RSSITEMS:|*
    <tr mc:repeatable="story-template" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
      <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">&#13;
        <table cellpadding="0" class="story-table" cellspacing="0" border="0" align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background-color: #FFF; margin: 0; padding: 0;" bgcolor="#FFF">
          <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">&#13;
              <h2 style="font-family: Cambria, Georgia, Times, 'Times New Roman', serif; font-weight: 800; font-size: 21px; line-height: 28px; margin: 0 0 5px; padding: 0;">&#13;
                <a href="*|RSSITEM:URL|*" style="color: #049cdb; text-decoration: none; margin: 0; padding: 0;" mc:edit="">*|RSSITEM:TITLE|*</a>&#13;
              </h2>&#13;
              <p style="font-family: Cambria, Georgia, Times, 'Times New Roman', serif; font-weight: normal; font-size: 15px; line-height: 22px; margin: 0 0 5px; padding: 0;" mc:edit="">*|RSSITEM:CONTENT|*</p>&#13;
              <a href="*|RSSITEM:URL|*" style="font-family: Cambria, Georgia, Times, 'Times New Roman', serif; color: #049cdb; font-size: 13px; line-height: 22px; text-decoration: none; margin: 0; padding: 0;" class="read-more">Read More&hellip;</a>&#13;
            </td>&#13;
          </tr>
          <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <td height="36" colspan="4" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            </td>
          </tr>
        </table>
      </td>&#13;
    </tr>
    *|END:RSSITEMS|*
  </table>
</div>&#13;
    </td>&#13;
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>&#13;
  </tr></table><table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; clear: both !important; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>&#13;
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
        &#13;
        <div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 0 15px 15px;">&#13;
        <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">&#13;
              <p style="font-family: Cambria, Georgia, Times, 'Times New Roman', serif; font-size: 12px; font-weight: normal; line-height: 1.6; margin: 0 0 10px; padding: 0;">
              <a href="*|ARCHIVE|*" class="footer-link" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #049cdb; text-decoration: none; margin: 0; padding: 0;">View this Email in Your Browser</a>
              <span class="footer-divider" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">|</span>
              <a href="*|UNSUB|*" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #049cdb; text-decoration: none; margin: 0; padding: 0;" class="footer-link">Unsubscribe</a>
              </p>&#13;
              <p style="color: #AAA; font-family: Cambria, Georgia, Times, 'Times New Roman', serif; font-size: 12px; font-weight: normal; line-height: 1.6; margin: 0 0 10px; padding: 0;">&copy; Copyright 2013 <a href="http://qcstacks.com/" title="Queen City Stacks" style="color: #049cdb; text-decoration: none;">Queen City Stacks</a></p>&#13;
          </td>&#13;
        </tr></table></div>&#13;
        &#13;
    </td>&#13;
  </tr></table></body>
</html>


