---
title: Layoffs for Bank Employees Throughout Ohio 
url: http://www.bizjournals.com/cincinnati/morning_call/2013/08/bank-of-america-to-lay-off-more-than.html
---

While the housing market continues to post healthy numbers, the recent downturn in mortgage refinancing has had an unfortunate impact on banking employees in the state. Both <a href="http://www.bizjournals.com/cincinnati/morning_call/2013/08/bank-of-america-to-lay-off-more-than.html">Bank of America</a> and <a href="http://www.bizjournals.com/cincinnati/morning_call/2013/08/fifth-third-lays-off-cincinnati.html">Fifth Third</a> have announced plans to layoff workers this month and shutter banking sites throughout Ohio, including Cincinnati.
