---
title: "It’s the Holidays: Drink up, Cincinnati"
url: http://www.cincinnati.com/story/entertainment/2014/11/24/myrtles-punch-house-opens-friday-east-walnut-hills/70059022/
---

A slew of booze-related updates were announced this week to help Cincinnatians cope with the Holidays. This Friday marks the opening of Molly Wellman’s <a href="http://www.cincinnati.com/story/entertainment/2014/11/24/myrtles-punch-house-opens-friday-east-walnut-hills/70059022/">Myrtle’s Punch House</a> in East Walnut Hills. If punch isn’t your thing, you might want to hold out until Dec. 2 when <a href="http://www.bizjournals.com/cincinnati/news/2014/11/21/cincinnati-growler-shop-sets-opening-date.html">The Growler House</a>, opens in East Walnut Hills as a one-stop shop for craft beer. Not to be outdone, the <a href="http://www.bizjournals.com/cincinnati/news/2014/11/24/cincinnati-brewery-expands-opens-taproom.html">East End’s Blank Slate Brewing</a> opened its taproom last week and can seat about 45 people. And finally, WCPO has an update on the <a href="http://www.wcpo.com/entertainment/local-a-e/beer/tafts-ale-house-cranes-in-new-brewhouse-inches-closer-to-completion">construction Over-the-Rhine’s newest brewpub, Taft’s Ale House</a>.
