---
title: Design Firm CAF Releases Streetcar Renderings 
url: http://www.citybeat.com/cincinnati/blog-5115-caf_unveils_cincinnati_streetcar_renderings.html
---

Design firm CAF released <a href="http://www.caf.es/en/productos-servicios/proyectos/proyecto-detalle.php?p=257">renderings</a> of the streetcars for the $133 million streetcar project yesterday. The cars will have four doors on each side and are designed to be low to the ground, which should theoretically make onboarding and moving around the vehicles that much easier. The streetcar project&rsquo;s director, John Deatrick, said the city should have the cars by June 2015.
