---
title: Cincinnati is Home to World Class Street Art 
url: http://www.buzzfeed.com/bigcurl254/9-world-famous-street-artists-you-never-would-hav-9f9a
---

Believe it or not, but Cincinnati&rsquo;s streets are home to work by world famous street artists. BuzzFeed rounded up 9 famous street art murals around the Queen City from artists such as Shepard Fairey to The London Police. You can thank local art and design groups <a href="http://bldgrefuge.com/">BLDG</a>, the <a href="http://contemporaryartscenter.org/">Contemporary Arts Center</a>, <a href="http://yescincinnati.com/">YES Gallery</a> and others for helping brighten up some of the city&rsquo;s otherwise bland walkways.
