---
title: Fair-Weather Bengals Fan Criticism Might Ring True 
url: http://www.bizjournals.com/cincinnati/blog/2013/08/just-how-loyal-are-bengals-fans.html  
---

Cincinnati Bengals fans often have the term fair-weathered thrown their direction, especially when the team is on a winning streak. <a href="https://blogs.emory.edu/sportsmarketing/2013/08/15/nfl-fan-equity-maybe-the-cowboys-are-america%E2%80%99s-team/">A new poll from Atlanta&rsquo;s Emory University</a> might add some merit to that criticism. The university ranked Bengals fans 19 out of 32 in fan loyalty. 
