---
title: Jeff Ruby Sued by Former Employees Over Tip Policy 
url: http://www.wcpo.com/news/local-news/lawsuit-jeff-ruby-eateries-took-tips-from-staff
---

Queen City restaurant group Jeff Ruby Culinary Entertainment is the subject of a recently filed federal lawsuit. The suit, which alleges employees were forced to share their tips with managers and other employees, contends a violation of the Fair Labor Standards Act. Against the advice of counsel, Jeff Ruby has <a href="http://www.bizjournals.com/cincinnati/news/2013/08/28/jeff-ruby-responds-to-lawsuit.html">responded to the negative media attention by offering his perspective</a>.
