---
title: The Afghan Whigs Named MPMF Headliner 
url: http://citybeat.com/cincinnati/article-30191-the_afghan_whigs_to_headline_midpoint.html
---
Cincinnati-export The Afghan Whigs have been announced to headline this year&rsquo;s MidPoint Music Festival taking place downtown and in Over-the-Rhine Sept. 25-27. The Whigs got their start in the late 1980s in Cincinnati before being signed to Sub Pop Records. The band is slated to play Washington Park Friday night. MPMF will be posting more of their 2014 lineup next week. In the meantime, grab your early-bird three-day passes at <a href="http://mpmf.cincyticket.com">mpmf.cincyticket.com</a>.
