<% content_for :page_classes do %>
  'about'
<% end %>
<article class="about-page">
  <h1>About Queen City Stacks</h1>
  <p>Queen City Stacks is an experiment in trying to make sense of what's going on around us.</p>
  <p>QCS was born out of the frustration of trying to keep up with countless news outlets competing for our attention. We wanted something to help sift through the noise and distill what is most important in Cincinnati into a manageable form. Each edition strives to present the reader with what is important in Cincinnati now and to also entertain along the way. We get our stories from major publications such as <em>The Enquirer</em> and small independent blogs.</p>
  <p>If you're interested in receiving the best news in Cincinnati every Tuesday and Thursday, <%= link_to 'sign up now', '#' %>, we'd be happy to call you a reader.</p>
</article>
<!-- /about-page -->
