---
title: "'Mayhem' at Taste of Cincinnati This Year"
url: http://www.wcpo.com/news/local-news/police-taste-of-cincinnati-was-general-mayhem
---

With more than <a href="http://www.wcpo.com/news/local-news/taste-of-cincinnati-matches-2013-attendance-record" target="blank">half a million people in attendance</a>, the Taste of Cincinnati marked a new record last weekend as foodies and festival goers descended upon the Central Business District for the 36th installment of what has become a delicious Memorial Day tradition. But according to Police Commander Capt. Paul Broxterman, the event was not all brats and cream-puffs. As WCPO writes, there were numerous incidents of assaults and robberies reported around the outskirts, including one incident of rocks being thrown at police officers.
