---
title: UrbanCincy Voting Battle Continues to Play Out in Court 
url: http://www.citybeat.com/cincinnati/blog-5196-lawsuit_filed_to_scrub_blogger_off_voter_rolls.html 
---

The drama regarding whether or not <a href="http://urbancincy.com">UrbanCincy.com</a> blogger Randy Simes is eligible to vote continues to play out in court. A lawsuit filed Oct. 23 and spearheaded by COAST-friendly attorney Curt Hartman claims Simes isn't able to vote because he currently lives in South Korea and had previously resided in Chicago before his move overseas. Despite the late filing of the lawsuit, Hartman expects a ruling before Nov. 5 voting day. Every vote matters, people.

