---
title: Kentucky's Affordable Care Act Website Ranks Among Nation's Best 
url: http://talkingpointsmemo.com/dc/how-kentucky-built-the-country-s-best-obamacare-website
---

We all knew Kentucky was known for their bourbon, but who knew Ohio's neighboring state could outbuild a website better than everyone else? Despite a large conservative delegation and being home to Obama-foe Sen. Mitch McConnell, the Bluegrass State has been cited by multiple sources as being the best marketplaces for the Affordable Care Act. Gov. Steve Beshear decided to forgo the federal HealthCare.gov site and build a <a href="https://kyenroll.ky.gov/">website</a> for the state’s residents instead. So far more than 26,000 have enrolled in coverage through the site and another 50,000 residents have started applications.


