---
title: Guy Fieri Shuts Down and Eats His Way Through Three OTR Restaurants
url: http://www.bizjournals.com/cincinnati/news/2014/07/09/guy-fieri-s-checking-out-these-cincinnati.html
---
Television celebrity and <a href="http://www.nytimes.com/2012/11/14/dining/reviews/restaurant-review-guys-american-kitchen-bar-in-times-square.html">maligned restrauranteur</a> Guy Fieri visited three Over-the-Rhine restaurants Wednesday for his Diners, Drive-ins and Dives show. The bleach-blonde glutton ate his way through Taste of Belgium, Bakersfield OTR and the Senate. All three restaurants were closed at various times throughout the day while Fieri sampled their grub.
