---
title: City Council Pauses Development on the Streetcar 
url: http://wvxu.org/post/cincinnati-council-votes-suspend-streetcar-construction
---
The long battle over whether or not Cincinnati would get a streetcar seemed to come to a conclusion yesterday with City Council voting to pause development on the project until a financial audit determines if it makes sense to complete the first phase of development. The past week has been wrought with political drama with <a href="http://www.bizjournals.com/cincinnati/morning_call/2013/12/does-a-1930-court-case-mean-cincinnati.html">leaked documents</a>, <a href="http://www.bizjournals.com/cincinnati/news/2013/12/02/foundation-may-yank-music-hall-park.html">independent donors  offering money</a> and a <a href="http://citybeat.com/cincinnati/blog-5326-watch_pg_sittenfeld_pwn_john_cranley.html">showdown between newly elected Mayor John Cranley and Councilman P.G. Sittenfeld</a>. Supporters of the streetcar continue to remain hopeful, however, and will continue to keep fighting for the project after the audit is completed within 2-to-4 weeks.
