---
title: Cincinnati Seeks Input for Fort Washington Way
url: http://www.bizjournals.com/cincinnati/blog/2013/07/what-should-go-on-top-of-fort.html 
---

The renovation and development of Cincinnati's front yard continues with the city soliciting community input on what to do with Fort Washington Way, the exposed portion of the 71/75 corridor that runs below 2nd &amp; 3rd streets. The goal of connecting the riverfront to the central business district was laid more than a decade ago when city planners first renovated the area. Some of the ideas that are on the table include a green-space similar to Chicago's Millenium Park or a retail district such as Cap at Union Station in Columbus. Provide your input by taking the survey on <a href="http://www.cincinnati-oh.gov/connecttheblocks">Connect the Blocks</a>, a website the city has created to facilitate the discussion.
