---
title: Details Announced for Cincinnati’s Parking Lease Deal
url: http://www.bizjournals.com/cincinnati/news/2013/10/09/cincinnati-will-get-less-upfront-money.html
---

Cincinnati will receive $7 million less than originally projected as part of their parking lease deal with the Port of Greater Cincinnati Development Authority. According to Cincinnati City Manager Milton Dohoney the loss in revenue is due to rising interest rates. In <a href="http://wvxu.org/post/port-authority-releases-details-parking-lease-0" target="_blank">related news</a>, the Port Authority released the details of their plan, which will include a 10-year deal with Xerox to operate and maintain 4,900 meters in Cincinnati. 
