---
title: A Public Demonstration that Smitherman is Crazy
url: http://cincinnati.blogspot.com/2013/11/a-public-demonstration-that-smitherman.html
---

Speaking of election day, Cincinnati Blog recently posted a relevant <a href="http://www.youtube.com/watch?v=mQmuJlvLpvE" target="_blank">Youtube video</a> depicting Councilman Chris Smitherman making some “wild and outlandish” claims. According to the blog, Smitherman has a history or making ridiculous statements and this is just another example, as many of his claims cannot be substantiated. Why is this relevant you ask? Mayoral candidate John Cranley reportedly posted this video to his Facebook page as a measure of his support for Smitherman.
