---
title: Lawsuit Alleges Urban Active Engaged in Shady Business Practices 
url: http://www.bizjournals.com/cincinnati/news/2013/11/04/urban-active-settlement-nets-cash-for.html
---
According to a class-action settlement, Urban Active Fitness, the tri-state&rsquo;s largest gym, has been overcharging members. The lawsuit could potentially net more than $19 million in payments to former gym members. The lawsuit alleges Urban Active of failing to honor cancellation notices, misrepresenting terms on contracts and other shady business practices. Anyone who signed a contract with Urban Active between Jan. 1, 2006 and Oct. 26, 2012 is eligible to a payout. If you were involved in Urban Active between this time period, check out <a href="http://www.urbanactivelawsuit.com/">http://www.urbanactivelawsuit.com/</a> for more details.
