---
title: It's Time to Vote, Cincinnati 
url: http://cincinnati.com/blogs/politics/2013/11/05/get-live-election-day-updates-from-enquirer-reporters-and-editors/
---

It&rsquo;s voting day, Cincinnati. There are a number of issues on today&rsquo;s ballot including <a href="http://www.smartvoter.org/2013/11/05/oh/hm/issue/1/">two</a> <a href="http://www.smartvoter.org/2013/11/05/oh/hm/issue/2/">important</a> tax levies and <a href="http://www.smartvoter.org/2013/11/05/oh/hm/issue/4/">Issue 4</a>, which is looking to overhaul how Cincinnati manages its pension system. In addition to these issues, Cincinnati is also voting to elect a new mayor for the first time in eight years as well as a slurry of nine council members. Click through <a href="https://boe.hamilton-co.org/voting-on-election-day/where-do-i-vote.aspx">here</a> if you need help finding your voting location.
