<section class="archives">
  <h1>Archive</h1>
  <p>Interested in yesterday's news? We thought so.</p>

  <% @archives.each do |archive| %>
  <section class="archive-month">
    <h2><%= link_to archive[:date].strftime('%B %Y'), "/#{archive[:date].strftime('%Y/%m')}" %></h2>
    <% archive[:articles].group_by(&:date).each do |date, articles| %>
      <h3><%= link_to date.strftime('%m/%d'), "/#{date.strftime('%Y/%m/%d')}" %></h3>
      <ul>
      <% articles.each do |article| %>
        <li><%= link_to article.title, article.data.try(:url), :target => '_blank' %></li>
      <% end %>
    </ul><br>
    <% end %>
  </section>
  <!-- /archive-month -->

<% end %>
</section>


