---
pageable: true
layout: public
---

<% page_articles.reverse.group_by(&:date).each do |date, articles| %>
<article class="day-summary">
  <header class="summary-header">
    <h1><%= Date.new(date.year, date.month, date.day).strftime('%A, %B %e %Y') %></h1>
  </header>

  <div class="summary-body">
    <ul class="important-articles">
      <% articles.reverse.each do |article| %>
      <li class="article">
        <h2><%= link_to article.title, article.data.try(:[], :url), target: '_blank' %></h2>
        <p><%= article.body %></p>
        <%= link_to 'Read more &hellip;', article.data.try(:[], :url), class: 'read-more', target: '_blank' %>
      </li>
    <% end %>
    </ul>
  </div>
</article>
<% end %>
