---
title: MPMF Starts Today 
url: http://mpmf.com/
---

Iron your skinny jeans, buy a pack of Camels and wax your mustaches Cincinnati hipsters, <a href="http://mpmf.com">MPMF</a> starts today. There&rsquo;s a number of articles choosing the best venues, bands and activities to see and listen, but we at QC Stacks saved you the trouble of sifting through the fluff and picked our four favorite links:
<ul>
  <li><a href="http://www.eachnotesecure.com/midpoint-music-festival-preview-2013-thursday-picks/">Each Note Secure&rsquo;s Thursday Picks</a></li>
  <li><a href="http://news.cincinnati.com/article/20130925/ENT03/309250182">Cincinnati Enquirer&rsquo;s Weekend Picks</a></li>
  <li><a href="http://www.citybeat.com/cincinnati/blog-5075-biking_midpoint.html">Biking Midpoint</a></li>
  <li><a href="http://www.citybeat.com/cincinnati/article-28692-dig_deep_into_mpmf_2013.html">CityBeat&rsquo;s MPMF Overview</a></li>
</ul>
