---
title: Thirsty Thursday Brewery Updates
url: http://www.bizjournals.com/cincinnati/news/2014/09/09/eden-park-brewery-back-on-track.html
---

Two Cincinnati-area breweries continue to make progress in their hopes of quenching residents’ thirsts. The planned brewery in Eden Park could start construction as early as October after it reached a deal with the city to begin construction to renovate the 19th century pump station at 1430 Martin Drive. The deal allows the future brewery to lease the location for free for 40 years. <a href="http://www.bizjournals.com/cincinnati/news/2014/09/09/stay-at-home-dads-to-open-microbrewery-in-west.html">Those living a bit further north can look forward to a new brewery opening soon</a> in West Chester by two stay-at-home dads. The brewery is named DogBerry after a Shakespeare character and hopes to have up to 10 beers on tap when it opens at 7865 Cincinnati Dayton Road.
