---
title: "Let's Go Ride a Bike Cincinnati"
url: http://www.cincinnati.com/story/news/2014/09/10/cincinnati-bike-share-red-bike-otr-downtown-uptown/15404465/
---

Strap on your helmet and spandex people, the municipal bike sharing program known as Red Bike kicks off next week. For $8 a day, citizens can rent one of the city’s new shiny bicycles to help them get from point A to point B in style. The program is an attempt to get locals more active by providing alternative means of transportation. Learn more at <a href="http://www.cincyredbike.org" target="_blank">www.cincyredbike.org</a>.
